/* Sidebar */
aside {
  display: flex;
  flex-direction: column;
  background-color: #1e3a8a;
  color: #ffffff;
}

aside nav a {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  display: block;
}

aside nav a:hover {
  background-color: #2563eb;
  color: #ffffff;
}

aside nav a.font-semibold {
  background-color: #2563eb;
}

#map-container {
  position: relative;
  width: 100%; /* Ensure it fits within the parent container */
  max-width: 1024px; /* Limit the maximum width */
  height: 400px; /* Fix the height */
  overflow: hidden; /* Prevent any overflow issues */
}

#map-container .mapboxgl-map {
  width: 100% !important; /* Force the width to match the container */
  height: 100% !important; /* Force the height to match the container */
}
